{% extends 'base.html' %}
{% block body %}
{% for item in cart_items %}
    <div class="cart-item">
        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
        <p>{{ item.product.name }}</p>
        <p>Price: $ {{ item.product.price }}</p>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Total: $ {{ item.total_price }}</p>
        <a href="{% url 'cart:remove_from_cart' item.id %}" class="remove-btn">Remove</a>
    </div>
{% empty %}
    <p>Your cart is empty.</p>
{% endfor %}
{% endblock %}

