{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'homepage/style.css'%}" />
    <!-- Swiper CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>
  <body>
    <header>
      <div class="top-bar">
        <p>HUGE WINTER SALE. UPTO 50% OFF!<a href="#">SHOP NOW!</a></p>
      </div>
    </header>

    <nav class="navbar">
      <ul>
        <li><a href="{%url 'home'%}">Home</a></li>
        <li>
          <a
            >{%if user.is_authenticated%} {{user.username}} {%else%} Account
            {%endif%}</a
          >
        </li>
        <li>
          <a href="{% url 'view_cart' %}"
            >Cart (<span id="cart-count">{{ cart_count }}</span>)</a
          >
        </li>
        {%if user.is_authenticated%}
        <li><a href="{% url 'logout'%}">Logout</a></li>
        {%else%}
        <li><a href="{% url 'login'%}">Login</a></li>
        {%endif%}
      </ul>
    </nav>

    <section class="just-landed">
      <h2>Just Landed</h2>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          {% for product in new_arrivals %}
          <div class="swiper-slide product-card">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" />
            <h3>{{ product.name }}</h3>
            <p>Rs. {{ product.price }}</p>
            <a href="{% url 'buy' product.id %}" class="buy-btn">Buy Now</a>
            <a href="{% url 'add_to_cart' product.id %}" class="add-to-cart-btn"
              >Add to Cart</a
            >
          </div>
          {% empty %}
          <p>No new arrivals yet.</p>
          {% endfor %}
        </div>
        <!-- Navigation Buttons -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </section>

    <footer>
      <p>&copy; 2025 Clothing Brand. All rights reserved.</p>
    </footer>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 10,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          640: { slidesPerView: 2, spaceBetween: 20 },
          768: { slidesPerView: 3, spaceBetween: 30 },
          1024: { slidesPerView: 4, spaceBetween: 40 },
        },
      });
    </script>
  </body>
</html>
